
.parrafos{
    font-size: 30px;
    padding: 10px;
    text-align: justify;
    font-family: Perpetua;
}
.titulos{
    font-size: 50px;
    text-align: center;
    padding: 20px 0px;
}

.parrafoss {
    font-size: 30px;
    padding: 10px;
    text-align: justify;
    font-family: Perpetua;
}